@-ms-viewport
{
	width: 640px;
}

@-webkit-viewport
{
	width: 640px;
}

@-o-viewport
{
	width: 640px;
}

@-moz-viewport
{
	width: 640px;
}

@viewport
{
	width: 640px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 640px;
	min-height: 1128.6602118322223px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: 15px;
}

#pu1773
{
	width: 0.01px;
	position: relative;
}

#u1773
{
	z-index: 2;
	width: 640px;
	position: relative;
	margin-right: -10000px;
}

#u1775
{
	z-index: 4;
	width: 143px;
	position: relative;
	margin-right: -10000px;
}

#u1764
{
	z-index: 6;
	width: 640px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
}

#pu1805
{
	width: 0.01px;
	margin-left: 25px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1805
{
	z-index: 79;
	width: 151px;
	position: relative;
	margin-right: -10000px;
}

#pu1770-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 181px;
}

#u1770-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1782-4
{
	z-index: 12;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1761
{
	z-index: 16;
	width: 108px;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 483px;
}

#pu1756
{
	width: 0.01px;
	left: -1px;
	margin-top: 28px;
	position: relative;
}

#u1756
{
	z-index: 18;
	width: 640px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 1px;
}

#u1780
{
	z-index: 38;
	width: 635px;
	position: relative;
	margin-right: -10000px;
}

#u1759
{
	z-index: 40;
	width: 641px;
	position: relative;
	margin-right: -10000px;
	margin-top: 540px;
}

#u1823
{
	z-index: 81;
	width: 591px;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 25px;
}

#u1783-4
{
	z-index: 20;
	display: block;
	vertical-align: top;
	margin-left: 22px;
	margin-top: 10px;
	position: relative;
}

#u1763-10
{
	z-index: 24;
	width: 592px;
	min-height: 222px;
	font-size: 24px;
	line-height: 29px;
	margin-left: 23px;
	margin-top: 20px;
	position: relative;
}

#u1763,#u1763-4,#u1763-7
{
	font-size: 24px;
}

#u1766
{
	z-index: 42;
	width: 641px;
	left: -1px;
	position: relative;
}

#u1784-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	margin-left: 22px;
	position: relative;
}

#pu1779-13
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 19px;
	position: relative;
}

#u1779-13
{
	z-index: 48;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1758-14
{
	z-index: 61;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 146px;
}

#pu1777
{
	width: 0.01px;
	left: -4px;
	margin-top: 12px;
	position: relative;
}

#u1777
{
	z-index: 75;
	width: 641px;
	position: relative;
	margin-right: -10000px;
}

#u1754
{
	z-index: 77;
	width: 640px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 4px;
}

#u2416
{
	z-index: 83;
	width: 640px;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	left: 4px;
}

#u2421
{
	z-index: 85;
	width: 641px;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 4px;
}

#u2424
{
	z-index: 87;
	width: 641px;
	position: relative;
	margin-right: -10000px;
	margin-top: 163px;
	left: 4px;
}

#u1753-4
{
	z-index: 34;
	display: block;
	vertical-align: top;
	margin-top: 8px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

