@-ms-viewport
{
	width: 640px;
}

@-webkit-viewport
{
	width: 640px;
}

@-o-viewport
{
	width: 640px;
}

@-moz-viewport
{
	width: 640px;
}

@viewport
{
	width: 640px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 640px;
	min-height: 1129px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#page_position_content
{
	margin-bottom: 15px;
}

#pu1593
{
	width: 0.01px;
	position: relative;
}

#u1593
{
	z-index: 2;
	width: 640px;
	position: relative;
	margin-right: -10000px;
}

#u1595
{
	z-index: 4;
	width: 143px;
	position: relative;
	margin-right: -10000px;
}

#u1584
{
	z-index: 6;
	width: 640px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
}

#pu1669
{
	width: 0.01px;
	margin-left: 25px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1669
{
	z-index: 94;
	width: 150px;
	position: relative;
	margin-right: -10000px;
}

#pu1590-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 181px;
}

#u1590-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1602-4
{
	z-index: 12;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1581
{
	z-index: 16;
	width: 108px;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 483px;
}

#pu1576
{
	width: 0.01px;
	left: -2px;
	margin-top: 28px;
	position: relative;
}

#u1576
{
	z-index: 18;
	width: 640px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 2px;
}

#u1600
{
	z-index: 53;
	width: 635px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1579
{
	z-index: 55;
	width: 641px;
	position: relative;
	margin-right: -10000px;
	margin-top: 734px;
}

#u1681
{
	z-index: 96;
	width: 459px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 91px;
}

#u1603-4
{
	z-index: 20;
	display: block;
	vertical-align: top;
	margin-left: 24px;
	margin-top: 30px;
	position: relative;
}

#u1583-25
{
	z-index: 24;
	width: 592px;
	min-height: 222px;
	font-size: 24px;
	line-height: 29px;
	margin-left: 25px;
	margin-top: 20px;
	position: relative;
}

#u1583,#u1583-4,#u1583-6,#u1583-8,#u1583-10,#u1583-12,#u1583-14,#u1583-16,#u1583-19,#u1583-22
{
	font-size: 24px;
}

#u1586
{
	z-index: 57;
	width: 640px;
	position: relative;
}

#u1604-4
{
	z-index: 59;
	display: block;
	vertical-align: top;
	margin-left: 24px;
	position: relative;
}

#pu1599-13
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 19px;
	position: relative;
}

#u1599-13
{
	z-index: 63;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1578-14
{
	z-index: 76;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 146px;
}

#pu1597
{
	width: 0.01px;
	margin-top: 12px;
	position: relative;
}

#u1597
{
	z-index: 90;
	width: 640px;
	position: relative;
	margin-right: -10000px;
}

#u1574
{
	z-index: 92;
	width: 640px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 1px;
}

#u1573-4
{
	z-index: 49;
	display: block;
	vertical-align: top;
	margin-top: 9px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

