@-ms-viewport
{
	width: 640px;
}

@-webkit-viewport
{
	width: 640px;
}

@-o-viewport
{
	width: 640px;
}

@-moz-viewport
{
	width: 640px;
}

@viewport
{
	width: 640px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 640px;
	min-height: 1129px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#page_position_content
{
	margin-bottom: 15px;
}

#pu1709
{
	width: 0.01px;
	position: relative;
}

#u1709
{
	z-index: 2;
	width: 640px;
	position: relative;
	margin-right: -10000px;
}

#u1711
{
	z-index: 4;
	width: 143px;
	position: relative;
	margin-right: -10000px;
}

#u1700
{
	z-index: 6;
	width: 640px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
}

#pu1739
{
	width: 0.01px;
	margin-left: 25px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1739
{
	z-index: 79;
	width: 152px;
	position: relative;
	margin-right: -10000px;
}

#pu1706-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 181px;
}

#u1706-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1718-4
{
	z-index: 12;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1697
{
	z-index: 16;
	width: 108px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 483px;
}

#pu1692
{
	width: 0.01px;
	left: -1px;
	margin-top: 26px;
	position: relative;
}

#u1692
{
	z-index: 18;
	width: 640px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 1px;
}

#u1716
{
	z-index: 38;
	width: 635px;
	position: relative;
	margin-right: -10000px;
}

#u1695
{
	z-index: 40;
	width: 641px;
	position: relative;
	margin-right: -10000px;
	margin-top: 460px;
}

#u1745
{
	z-index: 81;
	width: 492px;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 73px;
}

#u1719-4
{
	z-index: 20;
	display: block;
	vertical-align: top;
	margin-left: 22px;
	margin-top: 5px;
	position: relative;
}

#u1699-10
{
	z-index: 24;
	width: 592px;
	min-height: 222px;
	font-size: 24px;
	line-height: 29px;
	margin-left: 23px;
	margin-top: 20px;
	position: relative;
}

#u1699,#u1699-4,#u1699-7
{
	font-size: 24px;
}

#u1702
{
	z-index: 42;
	width: 641px;
	left: -1px;
	position: relative;
}

#u1720-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	margin-left: 22px;
	position: relative;
}

#pu1715-13
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 19px;
	position: relative;
}

#u1715-13
{
	z-index: 48;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1694-14
{
	z-index: 61;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 146px;
}

#pu1713
{
	width: 0.01px;
	left: -4px;
	margin-top: 12px;
	position: relative;
}

#u1713
{
	z-index: 75;
	width: 641px;
	position: relative;
	margin-right: -10000px;
}

#u1690
{
	z-index: 77;
	width: 640px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 3px;
}

#u1689-4
{
	z-index: 34;
	display: block;
	vertical-align: top;
	margin-top: 9px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

