@-ms-viewport
{
	width: 640px;
}

@-webkit-viewport
{
	width: 640px;
}

@-o-viewport
{
	width: 640px;
}

@-moz-viewport
{
	width: 640px;
}

@viewport
{
	width: 640px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 640px;
	min-height: 1129px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#page_position_content
{
	margin-bottom: 15px;
}

#pu2095
{
	width: 0.01px;
	position: relative;
}

#u2095
{
	z-index: 2;
	width: 640px;
	position: relative;
	margin-right: -10000px;
}

#u2097
{
	z-index: 4;
	width: 143px;
	position: relative;
	margin-right: -10000px;
}

#u2086
{
	z-index: 6;
	width: 640px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
}

#pu2125
{
	width: 0.01px;
	margin-left: 25px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2125
{
	z-index: 73;
	width: 154px;
	position: relative;
	margin-right: -10000px;
}

#pu2092-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 181px;
}

#u2092-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
}

#u2104-4
{
	z-index: 12;
	display: block;
	vertical-align: top;
	position: relative;
}

#u2083
{
	z-index: 16;
	width: 108px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 483px;
}

#pu2078
{
	width: 0.01px;
	left: -1px;
	margin-top: 26px;
	position: relative;
}

#u2078
{
	z-index: 18;
	width: 640px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 1px;
}

#u2102
{
	z-index: 32;
	width: 635px;
	position: relative;
	margin-right: -10000px;
}

#u2081
{
	z-index: 34;
	width: 641px;
	position: relative;
	margin-right: -10000px;
	margin-top: 682px;
}

#u2131
{
	z-index: 75;
	width: 365px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 134px;
}

#u2131_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u2105-4
{
	z-index: 20;
	display: block;
	vertical-align: top;
	margin-left: 22px;
	margin-top: 13px;
	position: relative;
}

#u2085-4
{
	z-index: 24;
	width: 592px;
	min-height: 222px;
	font-size: 24px;
	line-height: 29px;
	margin-left: 23px;
	margin-top: 20px;
	position: relative;
}

#u2085
{
	font-size: 24px;
}

#u2088
{
	z-index: 36;
	width: 641px;
	left: -1px;
	position: relative;
}

#u2106-4
{
	z-index: 38;
	display: block;
	vertical-align: top;
	margin-left: 22px;
	position: relative;
}

#pu2101-13
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 19px;
	position: relative;
}

#u2101-13
{
	z-index: 42;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u2080-14
{
	z-index: 55;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 146px;
}

#pu2099
{
	width: 0.01px;
	left: -4px;
	margin-top: 12px;
	position: relative;
}

#u2099
{
	z-index: 69;
	width: 641px;
	position: relative;
	margin-right: -10000px;
}

#u2076
{
	z-index: 71;
	width: 640px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 3px;
}

#u2075-4
{
	z-index: 28;
	display: block;
	vertical-align: top;
	margin-top: 9px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

