@-ms-viewport
{
	width: 640px;
}

@-webkit-viewport
{
	width: 640px;
}

@-o-viewport
{
	width: 640px;
}

@-moz-viewport
{
	width: 640px;
}

@viewport
{
	width: 640px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 640px;
	min-height: 1128.9000000000008px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -1px;
	margin-bottom: 71px;
}

#u4503
{
	z-index: 19;
	width: 640px;
	position: relative;
}

#u4491
{
	z-index: 2;
	width: 248px;
	margin-left: 196px;
	margin-top: 60px;
	position: relative;
}

#u4499
{
	z-index: 4;
	width: 317px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 161px;
	margin-top: 20px;
	position: relative;
}

#u4563-7
{
	z-index: 5;
	display: block;
	vertical-align: top;
	margin-left: 29px;
	margin-top: 20px;
	position: relative;
}

#u4497
{
	z-index: 12;
	width: 639px;
	position: relative;
}

#pu4515
{
	width: 0.01px;
	margin-top: 5px;
	position: relative;
}

#u4515
{
	z-index: 14;
	width: 639px;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
}

#u4495
{
	z-index: 16;
	width: 149px;
	min-height: 58px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 241px;
}

#u4511
{
	z-index: 17;
	width: 639px;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
}

#u4632-4
{
	z-index: 28;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 9px;
}

#u4535
{
	z-index: 26;
	width: 640px;
	margin-top: 64px;
	position: relative;
}

#u4490-5
{
	z-index: 21;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 5px;
	position: relative;
}

#u4467
{
	z-index: 32;
	width: 640px;
	position: fixed;
	top: 1408px;
	left: 0px;
}

#u4465
{
	z-index: 50;
	width: 50px;
	position: fixed;
	top: 1416px;
	left: 27px;
}

#u4463
{
	z-index: 44;
	width: 50px;
	position: fixed;
	top: 1416px;
	left: 198px;
}

#u4461
{
	z-index: 56;
	width: 50px;
	position: fixed;
	top: 1416px;
	left: 381px;
}

#u4469
{
	z-index: 34;
	width: 50px;
	position: fixed;
	top: 1416px;
	left: 546px;
}

#u4472-4
{
	z-index: 36;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 1466px;
	left: 9px;
}

#u4460-4
{
	z-index: 46;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 1466px;
	left: 181px;
}

#u4459-4
{
	z-index: 52;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 1465px;
	left: 356px;
}

#u4471-4
{
	z-index: 40;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 1466px;
	left: 529px;
}

#page .verticalspacer
{
	clear: both;
}

