@-ms-viewport
{
	width: 640px;
}

@-webkit-viewport
{
	width: 640px;
}

@-o-viewport
{
	width: 640px;
}

@-moz-viewport
{
	width: 640px;
}

@viewport
{
	width: 640px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 640px;
	min-height: 1129px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#page_position_content
{
	margin-bottom: 15px;
}

#pu1851
{
	width: 0.01px;
	position: relative;
}

#u1851
{
	z-index: 2;
	width: 640px;
	position: relative;
	margin-right: -10000px;
}

#u1853
{
	z-index: 4;
	width: 143px;
	position: relative;
	margin-right: -10000px;
}

#u1842
{
	z-index: 6;
	width: 640px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
}

#pu1881
{
	width: 0.01px;
	margin-left: 25px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1881
{
	z-index: 76;
	width: 152px;
	position: relative;
	margin-right: -10000px;
}

#pu1848-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 181px;
}

#u1848-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1860-4
{
	z-index: 12;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1839
{
	z-index: 16;
	width: 108px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 483px;
}

#pu1834
{
	width: 0.01px;
	left: -4px;
	margin-top: 26px;
	position: relative;
}

#u1834
{
	z-index: 18;
	width: 640px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 4px;
}

#u1858
{
	z-index: 35;
	width: 635px;
	position: relative;
	margin-right: -10000px;
	left: 3px;
}

#u1837
{
	z-index: 37;
	width: 641px;
	position: relative;
	margin-right: -10000px;
	margin-top: 918px;
}

#u1887
{
	z-index: 78;
	width: 592px;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	left: 28px;
}

#u1861-4
{
	z-index: 20;
	display: block;
	vertical-align: top;
	margin-left: 22px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u1841-7
{
	z-index: 24;
	width: 592px;
	min-height: 222px;
	font-size: 24px;
	line-height: 29px;
	margin-left: 23px;
	margin-top: 20px;
	position: relative;
}

#u1841,#u1841-4
{
	font-size: 24px;
}

#u1844
{
	z-index: 39;
	width: 641px;
	left: -1px;
	position: relative;
}

#u1862-4
{
	z-index: 41;
	display: block;
	vertical-align: top;
	margin-left: 22px;
	position: relative;
}

#pu1857-13
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 19px;
	position: relative;
}

#u1857-13
{
	z-index: 45;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1836-14
{
	z-index: 58;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 146px;
}

#pu1855
{
	width: 0.01px;
	left: -4px;
	margin-top: 12px;
	position: relative;
}

#u1855
{
	z-index: 72;
	width: 641px;
	position: relative;
	margin-right: -10000px;
}

#u1832
{
	z-index: 74;
	width: 640px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 3px;
}

#u1831-4
{
	z-index: 31;
	display: block;
	vertical-align: top;
	margin-top: 9px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

