@-ms-viewport
{
	width: 640px;
}

@-webkit-viewport
{
	width: 640px;
}

@-o-viewport
{
	width: 640px;
}

@-moz-viewport
{
	width: 640px;
}

@viewport
{
	width: 640px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 640px;
	min-height: 1129px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#page_position_content
{
	margin-bottom: 15px;
}

#pu3391
{
	width: 0.01px;
	position: relative;
}

#u3391
{
	z-index: 2;
	width: 640px;
	position: relative;
	margin-right: -10000px;
}

#u3362
{
	z-index: 4;
	width: 143px;
	position: relative;
	margin-right: -10000px;
}

#u3374
{
	z-index: 6;
	width: 640px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
}

#pu3389
{
	width: 0.01px;
	margin-left: 25px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u3389
{
	z-index: 76;
	width: 150px;
	position: relative;
	margin-right: -10000px;
}

#pu3376-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 180px;
}

#u3376-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	position: relative;
}

#u3367-4
{
	z-index: 12;
	display: block;
	vertical-align: top;
	position: relative;
}

#u3385
{
	z-index: 16;
	width: 108px;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	left: 483px;
}

#pu3372
{
	width: 0.01px;
	left: -1px;
	margin-top: 24px;
	position: relative;
}

#u3372
{
	z-index: 18;
	width: 640px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 1px;
}

#u3369
{
	z-index: 32;
	width: 635px;
	position: relative;
	margin-right: -10000px;
}

#u3383
{
	z-index: 34;
	width: 641px;
	position: relative;
	margin-right: -10000px;
	margin-top: 460px;
}

#u3365
{
	z-index: 78;
	width: 498px;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 69px;
}

#u3371-4
{
	z-index: 20;
	display: block;
	vertical-align: top;
	margin-left: 22px;
	margin-top: 5px;
	position: relative;
}

#u3393-4
{
	z-index: 24;
	width: 592px;
	min-height: 222px;
	font-size: 24px;
	line-height: 29px;
	margin-left: 23px;
	margin-top: 20px;
	position: relative;
}

#u3393
{
	font-size: 24px;
}

#u3387
{
	z-index: 36;
	width: 641px;
	left: -1px;
	position: relative;
}

#u3368-4
{
	z-index: 38;
	display: block;
	vertical-align: top;
	margin-left: 22px;
	position: relative;
}

#pu3364-14
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 19px;
	position: relative;
}

#u3364-14
{
	z-index: 42;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u3377-16
{
	z-index: 56;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 145px;
}

#pu3381
{
	width: 0.01px;
	left: -4px;
	margin-top: 12px;
	position: relative;
}

#u3381
{
	z-index: 72;
	width: 641px;
	position: relative;
	margin-right: -10000px;
}

#u3379
{
	z-index: 74;
	width: 640px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 3px;
}

#u3378-4
{
	z-index: 28;
	display: block;
	vertical-align: top;
	margin-top: 9px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

